.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.btns {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #2196f3;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  border: none;
  font-size: 20px;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
  /*-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);*/
}

.btns span {
  position: absolute;
  display: block;
}
.btns span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}
/*přidano animate1*/
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.btns span:nth-child(2) {
  top: -100%;
  right: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(180deg, transparent, #2196f3);
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.btns span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
.btns span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.btns:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 2s;
}

.default {
  color: #255784 !important;
  background: #2196f3 !important;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3 !important;
}

.btns:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
  animation: animate1 1s linear infinite; /*přidáno*/
}

.btns:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

.btns:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

.btns:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
